{% extends '_base.html' %}
{% load static %}
{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'css/mycss.css' %}">
        <style>
            .bg-black {
                background-color: rgb(60, 0, 42);
                color: white; /* برای اطمینان از خوانایی متن */
            }
        </style>
    </head>
    <section id="features" class="bg-black">
        <div class="container">
            <div class="section-content">
                <!-- Section Title -->
                <div class="title-wrap mb-5" data-aos="fade-up" style="color: white;">
                    <h2 class="section-title">
                        <h3 style="font-weight: bold;">اخرین اخبار پرسپولیس</h3>

                    </h2>
                </div>
                <!-- End of Section Title -->
                <div class="row">
                    <!-- Features Holder-->
                    <div class="offset-md-1 features-holder">
                        <div class="row">
                            <!-- Features Item -->
                            <div class="col-md-4 col-sm-12 text-center mt-4">

                                <div style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 20px;">
                                    {% for news in model1 %}
                                        <div>
                                            <div class="shadow rounded feature-item" data-aos="fade-up">
                                                <div class="card-container">
                                                    <div class="card border-black">
                                                        <div class="img-content">
                                                            <img src="{{ news.image.url }}"
                                                                 class="card-img-top"
                                                                 alt="...">
                                                        </div>
                                                        <div class="content">
                                                            <p class="heading">{{ news.title}}</p>
                                                            <p>
                                                                {{ news.description|truncatewords:20}}
                                                            </p>
                                                        </div>
                                                        <button id="bottone1"><strong>اخبار پرسپولیس</strong></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>


                            </div>
                            <!-- End of Feature Item -->
                        </div>
                    </div>
                    <!-- End of Features Holder-->
                </div>
            </div>
        </div>
    </section>
    <!-- End of Features Section-->
    <section id="section-featurettes" class="featurettes overlay bg-fixed" style="background-image: url(img/bg.jpg);">
        <div class="jumbotron d-flex align-items-center"
             style="background: url('{% static "img/5910920.jpg" %}') no-repeat center center; background-size: cover; min-height: 300px;">

            <div class="container">
                <div class="section-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row align-items-center text-white">
                                <div class="col-md-4 offset-md-2 col-sm-6" data-aos="fade-right">
                                    <h2 class="mb-4" style="font-weight: bold;">فروشگاه پرسپولیس</h2>
                                    <h3 style="font-weight: bold;">به فروشگاهمون یه سر بزن خوشت میاد</h3>
                                    <a href="{% url 'shop' %}">
                                        <button type="button" class="btn btn-outline-primary">بازدید از فروشگاه</button>
                                    </a>

                                </div><!--/ .col-md-4.col-md-offset-2.col-sm-6 -->
                                <div class="parent" style="width: 300px; padding: 20px; perspective: 1000px;">
                                    <div class="ccard"
                                         style="padding-top: 0px; border: 3px solid rgb(255, 255, 255); transform-style: preserve-3d; background: linear-gradient(135deg,#0000 18.75%,#f3f3f3 0 31.25%,#0000 0), repeating-linear-gradient(45deg,#f3f3f3 -6.25% 6.25%,#ffffff 0 18.75%); background-size: 60px 60px; background-position: 0 0, 0 0; background-color: #f0f0f0; width: 100%; box-shadow: rgba(142, 142, 142, 0.3) 0px 30px 30px -10px; transition: all 0.9s ease-in-out; position: relative; overflow: hidden; height: auto;">
                                        <div class="content-box"
                                             style="position: relative; z-index: 1; background: rgba(4, 193, 250, 0.732); padding: 60px 25px 25px 25px; transform-style: preserve-3d;">
                                            <img src="{% static 'img/photo1720646887.png' %}" class="card-img-top"
                                                 alt="..."
                                                 style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: -1;">
                                            <span class="ccard-title"
                                                  style="display: inline-block; color: white; font-size: 25px; font-weight: 900; transition: all 0.5s ease-in-out; transform: translate3d(0px, 0px, 50px);"></span>
                                            <p class="ccard-content"
                                               style="margin-top: 10px; font-size: 12px; font-weight: 700; color: #f2f2f2; transition: all 0.5s ease-in-out; transform: translate3d(0px, 0px, 30px);">
                                                <br>
                                                <br>
                                                <br>
                                                <br>
                                                <br>
                                                <br>
                                                <br>
                                            </p>
                                            <br>
                                            <br>
                                        </div>
                                    </div>
                                </div><!--/ .col-md-4.col-md-offset-right-2.col-sm-6 -->
                            </div><!--/ .featurettes-item -->
                        </div><!--/ .col-md-12 -->
                    </div><!--/ .row -->
                </div>
            </div><!--/ .container -->
        </div>
    </section>
    <section id="section-featurettes" class="featurettes bg-black">

        <div class="container bg-black">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row align-items-center ">

                            <div class="col-md-4 offset-md-2 col-sm-6 " data-aos="flip-left">
                                <img class="my-5 border" src="{% static 'img/299565.jpg' %}" alt="">
                            </div><!--/ .col-md-4.col-md-offset-right-2.col-sm-6 -->

                            <div class="col-md-4 offset-md-right-2 col-sm-6 bg-black" data-aos="fade-left">
                                <h2 class="mb-4" style="color: white; font-weight: bold;">تیم و اعضای کادر فنی</h2>
                                <h3 style="color: white">برای دیدن بیوگرافی تمامی بازیکنان و کادر فنی فعلی کلیک
                                    کنید</h3>
                                <buttoon class="learn-more">
                                      <span class="circle" aria-hidden="true">
                                      <span class="icon arrow"></span>
                                      </span>
                                    <span class="buttoon-text" style="font-weight: bold; font-size: large">مشاهده</span>
                                </buttoon>

                            </div>
                        </div><!--/ .col-md-4.col-md-offset-2.col-sm-6 -->

                    </div><!--/ .featurettes-item -->

                </div><!--/ .col-md-12 -->

            </div><!--/ .row -->
        </div>
        </div><!--/ .container -->

    </section>    <!-- Testimonial Section-->
    <section id="testimonial" class="section-padding bg-fixed bg-dark overlay"
             style="background-image: url({% static 'img/bg-white.jpg' %});">
        <div class="container">
            <div class="section-content" data-aos="fade-up">
                <div class="heading-section text-center">
                    <h2>
                        User Testimonials
                    </h2>
                </div>
                <div class="row">
                    <!-- Testimonial -->
                    <div class="testi-content testi-carousel owl-carousel">
                        <div class="testi-item text-center">
                            <i class="testi-icon fa fa-3x fa-quote-left"></i>
                            <h4 class="testi-text"><b>ROXY</b> is best theme i used so far.<br> It’s ideal for guys
                                without coding knowledge like me!</h4>
                            <div class="testi-meta-inner d-flex justify-content-center align-items-center">
                                <div class="testi-img mr-2">
                                    <img src="{% static 'img/testi-1.jpg' %}" alt="">
                                </div>
                                <div class="testi-details">
                                    <p class="testi-author mb-0 font-weight-bolder">John Doe</p>
                                    <p class="testi-desc mb-0">Web Designer</p>
                                </div>
                            </div>

                        </div>
                        <div class="testi-item text-center">
                            <i class="testi-icon fa fa-3x fa-quote-left"></i>
                            <h4 class="testi-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
                                <br> non doloribus ut, alias doloremque perspiciatis.</h4>
                            <div class="testi-meta-inner d-flex justify-content-center align-items-center">
                                <div class="testi-img mr-2">
                                    <img src="{% static 'img/testi-1.jpg' %}" alt="">
                                </div>
                                <div class="testi-details">
                                    <p class="testi-author mb-0 font-weight-bolder">John Doe</p>
                                    <p class="testi-desc mb-0">Web Designer</p>
                                </div>
                            </div>
                        </div>
                        <div class="testi-item text-center">
                            <i class="testi-icon fa fa-3x fa-quote-left"></i>
                            <h4 class="testi-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
                                <br> non doloribus ut, alias doloremque perspiciatis.</h4>
                            <div class="testi-meta-inner d-flex justify-content-center align-items-center">
                                <div class="testi-img mr-2">
                                    <img src="{% static 'img/testi-1.jpg' %}" alt="">
                                </div>
                                <div class="testi-details">
                                    <p class="testi-author mb-0 font-weight-bolder">John Doe</p>
                                    <p class="testi-desc mb-0">Web Designer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of Testimonial -->
                </div>
            </div>
        </div>
    </section>
    <!-- End of Testimonial Section-->    <!-- Portfolio Section -->
    <section id="portfolio" class="bg-black">
        <div class="container">
            <div class="section-content">
                <!-- Section Title -->
                <div class="title-wrap">
                    <h2 class="section-title" style="color: white; font-weight: bold;">آخرین <b>عکس های</b> گالری</h2>

                </div>
                <!-- End of Section Title -->
                <div class="row">
                    <!-- Portfolio Holder -->
                    <div class="col-md-12 portfolio-holder mt-3">
                        <!-- Btn Filter -->

                        <!-- End of Btn Filter -->
                        <!-- Portfolio Content -->
                        <div class="grid-portfolio">
                            <div class="grid-sizer"></div>
                            <div class="gutter-sizer"></div>
                            <!-- Portfolio Item -->
                            <div class="grid-item minimalism" data-aos="fade-up">
                                <div class="grid-item-wrapper">
                                    <img src="{% static 'img/R.png' %}" alt="portfolio-img"
                                         class="portfolio-item">
                                    <div class="grid-info">
                                        <div class="grid-link d-flex justify-content-center">
                                            <a class="img-pop" data-rel="lightcase"
                                               href="{% static 'img/photo-1.jpg' %}"
                                               title="Photo-1">
                                                <span class="lnr lnr-move"></span>
                                            </a>
                                            <a class="ext-link" href="https://unsplash.com/" target="_blank">
                                                <span class="lnr lnr-link"></span>
                                            </a>
                                        </div>
                                        <div class="grid-title">
                                            <h4>Camera</h4>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- End of Portfolio Item -->
                            <!-- Portfolio Item -->
                            <div class="grid-item vintage" data-aos="fade-up">
                                <div class="grid-item-wrapper">
                                    <img src="{% static 'img/R.png' %}" alt="portfolio-img"
                                         class="portfolio-item">
                                    <div class="grid-info">
                                        <div class="grid-link d-flex justify-content-center">
                                            <a class="img-pop" data-rel="lightcase"
                                               href="{% static 'img/R.png' %}" title="Ship">
                                                <span class="lnr lnr-move"></span>
                                            </a>
                                            <a class="ext-link" href="https://unsplash.com/" target="_blank">
                                                <span class="lnr lnr-link"></span>
                                            </a>
                                        </div>
                                        <div class="grid-title">
                                            <h4>Flower</h4>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- End of Portfolio Item -->
                            <!-- Portfolio Item -->
                            <div class="grid-item creative grid-item-height" data-aos="fade-up">
                                <div class="grid-item-wrapper">
                                    <img src="{% static 'img/R.png' %}" alt="portfolio-img"
                                         class="portfolio-item">
                                    <div class="grid-info">
                                        <div class="grid-link d-flex justify-content-center">
                                            <a class="img-pop" data-rel="lightcase"
                                               href="{% static 'img/R.png' %}"
                                               title="Tracy Portrait">
                                                <span class="lnr lnr-move"></span>
                                            </a>
                                            <a class="ext-link" href="https://unsplash.com/" target="_blank">
                                                <span class="lnr lnr-link"></span>
                                            </a>
                                        </div>
                                        <div class="grid-title">
                                            <h4>Breakfast</h4>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- End of Portfolio Item -->
                            <!-- Portfolio Item -->
                            <div class="grid-item creative" data-aos="fade-up">
                                <div class="grid-item-wrapper">
                                    <img src="{% static 'img/R.png' %}" alt="portfolio-img"
                                         class="portfolio-item">
                                    <div class="grid-info">
                                        <div class="grid-link d-flex justify-content-center">
                                            <a class="img-pop" data-rel="lightcase"
                                               href="{% static 'img/R.png' %}"
                                               title="Guitar">
                                                <span class="lnr lnr-move"></span>
                                            </a>
                                            <a class="ext-link" href="https://unsplash.com/" target="_blank">
                                                <span class="lnr lnr-link"></span>
                                            </a>
                                        </div>
                                        <div class="grid-title">
                                            <h4>Chair</h4>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- End of Portfolio Item -->
                            <!-- Portfolio Item -->
                            <div class="grid-item vintage" data-aos="fade-up">
                                <div class="grid-item-wrapper">
                                    <img src="{% static 'img/R.png' %}" alt="portfolio-img"
                                         class="portfolio-item">
                                    <div class="grid-info">
                                        <div class="grid-link d-flex justify-content-center">
                                            <a class="img-pop" data-rel="lightcase"
                                               href="{% static 'img/R.png' %}"
                                               title="Bookself">
                                                <span class="lnr lnr-move"></span>
                                            </a>
                                            <a class="ext-link" href="https://unsplash.com/" target="_blank">
                                                <span class="lnr lnr-link"></span>
                                            </a>
                                        </div>
                                        <div class="grid-title">
                                            <h4>Hidden Book</h4>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- End of Portfolio Item -->
                            <!-- Portfolio Item -->
                            <div class="grid-item creative" data-aos="fade-up">
                                <div class="grid-item-wrapper">
                                    <img src="{% static 'img/R.png' %}" alt="portfolio-img"
                                         class="portfolio-item">
                                    <div class="grid-info">
                                        <div class="grid-link d-flex justify-content-center">
                                            <a class="img-pop" data-rel="lightcase"
                                               href="{% static 'img/R.png' %}"
                                               title="Guitar">
                                                <span class="lnr lnr-move"></span>
                                            </a>
                                            <a class="ext-link" href="https://unsplash.com/" target="_blank">
                                                <span class="lnr lnr-link"></span>
                                            </a>
                                        </div>
                                        <div class="grid-title">
                                            <h4>Red</h4>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- End of Portfolio Item -->
                        </div>
                        <!-- End of Portfolio Content -->
                    </div>
                    <!-- End of Portfolio Holder -->
                </div>
            </div>
        </div>
    </section>
    <!-- End of Portfolio Section -->    <!-- Client Section -->
    <section id="client" class="overlay bg-fixed" style="background-image: url(img/bg.jpg);">
        <div class="container">
            <div class="section-content" data-aos="fade-up">
                <div class="row ">
                    <div class="col-md-12">
                        <!-- Section Title -->
                        <div class="title-wrap mb-5">
                            <h2>جام های باشگاه</h2>
                        </div>
                        <!-- End of Section Title -->
                    </div>
                    <!-- Client Holder -->
                    <div class="col-md-12 client-holder">
                        <div class="client-slider owl-carousel">
                            <div class="client-item">
                                <img class="img-responsive" src="{% static 'img/OIP.png' %}" alt=" ">
                                <h3>16</h3>
                            </div>
                            <div class="client-item">
                                <img class="img-responsive" src="{% static 'img/adada.png' %}" alt=" ">
                                <h3>9</h3>
                            </div>
                            <div class="client-item">
                                <img class="img-responsive" src="{% static 'img/aOIP.png' %}" alt=" ">
                                <h3>7</h3>
                            </div>
                            <div class="client-item">
                                <img class="img-responsive" src="{% static 'img/cs.png' %}" alt=" ">
                                <h3>1</h3>
                            </div>

                        </div>
                        <!-- End of Client Holder -->
                    </div>
                </div>
            </div>
    </section>
    <!-- End of Client Section -->    <!-- Reservation Section -->
{% endblock content %}