{% extends '_base.html' %}
{% load static %}
{% block title %}لیست کتاب ها {% endblock title %}

{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'css/mycss.css' %}">
        <link rel="stylesheet" href="{% static 'css/shop.css' %}">

        <style>
            .bg-black {
                background-color: #660045;
                color: white; /* برای اطمینان از خوانایی متن */
            }
        </style>
    </head>

    <section id="blog" class="bg-grey bg-black">
        <div class="container">
            <div class="section-content">
                <div class="title-wrap mb-5" data-aos="fade-up">
                    <h2 class="section-title " style="color: white; font-weight: bold;">فروشگاه <b>پرسپولیس</b></h2>
                    <p class="section-sub-title" style="color: white; font-weight: bold;">به فروشگاه ما خوش آمدید ,
                        بهترین و با کیفیت ترین هارو پیدا میکنید</p>
                </div>

                {% for product in products %}
                    {% if forloop.counter0|divisibleby:3 %}
                        <div class="row" style="display: flex; justify-content: space-between; margin-bottom: 20px;">
                    {% endif %}
                <!-- Blog Item -->
                <div class="card" style="width: 25%; margin-bottom: 15px;">
                    <div class="image" style="width: 100%; height: 200px; overflow: hidden;">
                        <img src="{{ product.image.url }}" alt=""
                             style="width: 150%; height: 150%; object-fit: cover;">
                    </div>
                    <div class="productTitle">
                        {{ product.title}}
                    </div>
                    <div class="cost">
                        {{product.price}}
                    </div>
                    <button class="addtocart">بازدید</button>
                </div>
                {% if forloop.counter|divisibleby:3 or forloop.last %}
                    </div>
                {% endif %}
                {% endfor %}

                <!-- End of Blog Item -->
                <!-- Blog Item -->

                <!-- End of Blog Item -->
                <!-- Blog Item -->

                <!-- End of Blog Item -->
            </div>
        </div>
        <!-- End of Blog -->
        </div>
        </div>
        </div>
    </section>
{% endblock content %}

